
div{
    text-align: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: beige;
}
li{
    border: solid 3px  rgb(87, 246, 87);
    padding: 7px;
    margin-bottom: 10px;
}
.del:hover{
    background-color: red;
}
.edit:hover{
    background-color: yellowgreen;

}
li:hover{
    background-color: aquamarine;
}
form{
    border: solid 2px green;
    padding: 3px;
}
form button{
    background-color: aqua;
}
form input{
    border: none;
    background-color: transparent;
    font-size: 16pt;
}